**Loops**

- loops are used to iterate the code multiple times

- functions are used to reuse the code block

- that code block can be repeated multiple times

- whenver you are doing same task multiple times then think about loop

- we have two loops

     - for loop
 
     - while loop

- any loop we need 3 things

   - intialization (start point)
 
   - increament or decrement
 
   - condition to stop

**For Loop**

In [ ]:
for <variable> in range(<number>):
    <write your code here>

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
for i in range(3):
    print(i,end=' ')

0 1 2

**case-1:range(stop)**

- stop=0 : python index start always starts with zero

- increment by 1

- last=stop-1

In [5]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(3):
    print('good night')

good night
good night
good night

**case-2:range(start,stop)**

- suppose i want to start my loop with particular number

- then add start also inside range

- start=start

- increment by 1

- last=stop-1

In [9]:
for i in range(10,20):
    print(i,end=' ')

10 11 12 13 14 15 16 17 18 19

In [11]:
#wap ask the user print the square of first 5 number

for i in range(1,6):
    print(i*i,end=' ')

Enter number: 6

1 4 9 16 25

In [12]:
#wap ask enter the 5 times print their square

for i in range(5):
    num=eval(input("Enter number:"))
    print(num*num)

Enter number: 1

1

Enter number: 2

4

Enter number: 3

9

Enter number: 4

16

Enter number: 5

25

In [13]:
def sq():
    for i in range(5):
        num=eval(input("Enter number:"))
        print(num*num)
sq()

Enter number: 4

16

Enter number: 5

25

Enter number: 6

36

Enter number: 8

64

Enter number: 2

4

In [14]:
def sq():   
    num=eval(input("Enter number:"))
    print(num*num)
for i in range(5):
    sq()

Enter number: 3

9

Enter number: 5

25

Enter number: 7

49

Enter number: 9

81

Enter number: 2

4

**case-3:range(start,stop,step)**

- start=start only

- step :

     - loop about step sign is positive or negative
 
     - positive means increment
 
         - last=stop-1
      
     - negative means decrement
 
        - last=stop+1

In [15]:
#example 1: range(3,20,2)
# start = 3
# step=+2
#last=20-1=19
# 3,5,7,9

for i in range(3,19,2):
    print(i,end=' ')

3 5 7 9 11 13 15 17

In [17]:
#example 2: range(3,19,-2)
# start=3
# step=-2
# last=19+1=20
for i in range(3,19,-2):
    print(i)

In [20]:
# start=3
# step=-2
# last=-19+1=-18
for i in range(3,-19,-2):
    print(i,end=' ')

3 1 -1 -3 -5 -7 -9 -11 -13 -15 -17

In [21]:
for i in range(3,-19,2): # no answer
    print(i)

In [1]:
for i in range(20,-20,-10):
    print(i,end=' ')

20 10 0 -10

In [6]:
#table 
num=eval(input("Enter Number:"))
for i in range(1,11):
    print( f"{num}*{i}={num*i}"  )

Enter Number: 7

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [7]:
#find the number of divisor of 75
num=eval(input("Enter Number:"))
for i in range(1,num+1):
    if num%i==0:
        print(i,end=' ')

Enter Number: 75

1 3 5 15 25 75

**summation wrapper**

- starting we intialise the sum value =0

- inside the we will add a simple line : summ=summ+i

In [10]:
# sum of 10 natural number
summ=0
for i in range(1,11):
    summ+=i
print(summ)

55

In [13]:
# find the sum of divisor of 75
num=eval(input("enter number:"))
summ=0
for i in range(1,num+1):
    if num%i==0:        
        summ+=i
print(summ)

enter number: 75

124

**Counter wrapper**

- counter means counting the success ones

- count=0

- for inside for loop

     - count=count+1

In [16]:
# find the no.of divisors

num=eval(input("Enter Number:"))
count=0
for i in range(1,num+1):
    if num%i==0:
        
        count+=1
print(count)

Enter Number: 75

6

In [23]:
# as the user get 5 random number
from random import randint as rt
even_count,even_sum=0,0
odd_count,odd_sum=0,0
for i in range(5):
    num=rt(1,100)
    print(num,end=' ')
    if num%2==0:
        
        even_sum+=num
        even_count+=1
    else:
        
        odd_sum+=num
        odd_count+=1
print("\n")    
print("even sum:",even_sum)
print("even count",even_count)
print("odd sum",odd_sum)
print("odd count",odd_count)

33 12 87 10 41

even sum: 22
even count 2
odd sum 161
odd count 3

In [29]:
# game program 
# user enter one num
# another number generate randonly
# if both are equal you won 
# else you lost
from random import randint as rt

for i in range(3):
    number=eval(input("Enter Number:"))
    ran_num=rt(1,10)
    print("random number:",ran_num)
    if number==ran_num:
        print("WON")
        break
    else:
        print("Fail")

Enter Number: 6

random number: 9
Fail

Enter Number: 4

random number: 2
Fail

Enter Number: 2

random number: 7
Fail

In [30]:
# case-1 : we apply break == completed
# case-2 : whenever the user enter the wrong answer


# case-3: if you lost all the chances
        # print try after 24 hours times

In [38]:
# case-2
from random import randint as rt
count=0
for i in range(3):
    number=eval(input("Enter Number:"))
    ran_num=rt(1,10)
    print("random number:",ran_num)
    if number==ran_num:
        print("WON")
        break
    else:
        count+=1
        print("Fail")
        print(f"{3-count} attempt left")

Enter Number: 3

random number: 8
Fail
2 attempt left

Enter Number: 5

random number: 7
Fail
1 attempt left

Enter Number: 6

random number: 8
Fail
0 attempt left

In [39]:
# case-3
from random import randint as rt
count=0
for i in range(3):
    number=eval(input("Enter Number:"))
    ran_num=rt(1,10)
    print("random number:",ran_num)
    if number==ran_num:
        print("WON")
        break
    else:
        count+=1
        print("Fail")
        print(f"{3-count} attempt left")
        if count==3:
            print("try after 24 hours later")

Enter Number: 3

random number: 7
Fail
2 attempt left

Enter Number: 5

random number: 8
Fail
1 attempt left

Enter Number: 6

random number: 8
Fail
0 attempt left
try after 24 hours later

**in operator**

- in for loop we have range and in operators

- range is math related word, whenever we use range it ex[ects a number inside range

- in operator expects a string

In [2]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [3]:
for i in range('python'):
    print(i,end=' ')

TypeError: 'str' object cannot be interpreted as an integer

In [4]:
for i in 'python':
    print(i,end=' ')

p y t h o n

In [6]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

i in 'python'

True

**ASCII**
- AMERICAN STANDARD CODE FOR INFORMATION INTERCHANGE

In [8]:

#'A'====65
#'a'====97
'A'>'a'

False

- How to convert char to number

- Hoe to convert number to char

**char-ord**

In [12]:
ord('A')

65

In [13]:
chr(65)

'A'

In [14]:
ord('a')

97

In [15]:
chr(97)

'a'

- so **ord** converting char to number

- **chr** converting the number to char

In [22]:
#wap ask the user get the ascii number from a to z
#print: A;65,  B:66

for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ':
    print(f'{i}:{ord(i)}' )

A:65
B:66
C:67
D:68
E:69
F:70
G:71
H:72
I:73
J:74
K:75
L:76
M:77
N:78
O:79
P:80
Q:81
R:82
S:83
T:84
U:85
V:86
W:87
X:88
Y:89
Z:90

**package : String**

In [ ]:
import <packagename>
dir(<packagename>)
in that A to Z will be given by one method

In [23]:
import string

In [24]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [25]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [26]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [27]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [28]:
string.digits

'0123456789'

In [30]:
for i in string.ascii_uppercase:
    print(f'{i}:{ord(i)}',end=' ')

A:65 B:66 C:67 D:68 E:69 F:70 G:71 H:72 I:73 J:74 K:75 L:76 M:77 N:78 O:79 P:80 Q:81 R:82 S:83 T:84 U:85 V:86 W:87 X:88 Y:89 Z:90

In [31]:
for i in string.ascii_lowercase:
    print(f'{i}:{ord(i)}',end=' ')

a:97 b:98 c:99 d:100 e:101 f:102 g:103 h:104 i:105 j:106 k:107 l:108 m:109 n:110 o:111 p:112 q:113 r:114 s:115 t:116 u:117 v:118 w:119 x:120 y:121 z:122

In [33]:
string.capwords

In [34]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [36]:
for i in string.punctuation:
    print(f'{i}:{ord(i)}')

!:33
":34
#:35
$:36
%:37
&:38
':39
(:40
):41
*:42
+:43
,:44
-:45
.:46
/:47
::58
;:59
<:60
=:61
>:62
?:63
@:64
[:91
\:92
]:93
^:94
_:95
`:96
{:123
|:124
}:125
~:126

In [37]:
for i in range(33,127):
    print(f'{i}:{chr(i)}')

33:!
34:"
35:#
36:$
37:%
38:&
39:'
40:(
41:)
42:*
43:+
44:,
45:-
46:.
47:/
48:0
49:1
50:2
51:3
52:4
53:5
54:6
55:7
56:8
57:9
58::
59:;
60:<
61:=
62:>
63:?
64:@
65:A
66:B
67:C
68:D
69:E
70:F
71:G
72:H
73:I
74:J
75:K
76:L
77:M
78:N
79:O
80:P
81:Q
82:R
83:S
84:T
85:U
86:V
87:W
88:X
89:Y
90:Z
91:[
92:\
93:]
94:^
95:_
96:`
97:a
98:b
99:c
100:d
101:e
102:f
103:g
104:h
105:i
106:j
107:k
108:l
109:m
110:n
111:o
112:p
113:q
114:r
115:s
116:t
117:u
118:v
119:w
120:x
121:y
122:z
123:{
124:|
125:}
126:~

In [39]:
for i in range(0,33):
    print(f'{i}:{chr(i)}')

0: 
1:
2:
3:
4:
5:
6:
7:
8
9:
10:

11:
12:
13:
14:
15:
16:
17:
18:
19:
20:
21:
22:
23:
24:
25:
26:
27:
28:
29:
30:
31:
32:

In [46]:
for i in range(3077,3150):
    print(f'{i}:{chr(i)}')

3077:అ
3078:ఆ
3079:ఇ
3080:ఈ
3081:ఉ
3082:ఊ
3083:ఋ
3084:ఌ
3085:఍
3086:ఎ
3087:ఏ
3088:ఐ
3089:఑
3090:ఒ
3091:ఓ
3092:ఔ
3093:క
3094:ఖ
3095:గ
3096:ఘ
3097:ఙ
3098:చ
3099:ఛ
3100:జ
3101:ఝ
3102:ఞ
3103:ట
3104:ఠ
3105:డ
3106:ఢ
3107:ణ
3108:త
3109:థ
3110:ద
3111:ధ
3112:న
3113:఩
3114:ప
3115:ఫ
3116:బ
3117:భ
3118:మ
3119:య
3120:ర
3121:ఱ
3122:ల
3123:ళ
3124:ఴ
3125:వ
3126:శ
3127:ష
3128:స
3129:హ
3130:఺
3131:఻
3132:఼
3133:ఽ
3134:ా
3135:ి
3136:ీ
3137:ు
3138:ూ
3139:ృ
3140:ౄ
3141:౅
3142:ె
3143:ే
3144:ై
3145:౉
3146:ొ
3147:ో
3148:ౌ
3149:్