In [5]:
names=['ramesh','suresh','sathish']
ages=[20,25,30]
for i in range(len(names)):
    print(names[i],ages[i])

ramesh 20
suresh 25
sathish 30

**zip**

In [6]:
for i in zip(names,ages):
    print(i)

('ramesh', 20)
('suresh', 25)
('sathish', 30)

In [4]:
for name,age in zip(names,ages):
    print(name,age)

ramesh 20
suresh 25
sathish 30

In [8]:
ls=[f'{name}:{age}' for name,age in zip(names,ages)]
ls

['ramesh:20', 'suresh:25', 'sathish:30']

## Dictionary

- above examplenames and age both are togther

- we can pair them 

- this can happen using dictionary

- dictionary is called as a **key-value** pair 

- it represents with curly braces : **{key:value}**

- Ramesh and 20 years both are pair: {'Ramesh':20}

In [10]:
d1={'ramesh':20,'suresh':25,'sathish':30}
d1

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

In [11]:
d2={20:'ramesh',25:'suresh',30:'sathish'}
d2

{20: 'ramesh', 25: 'suresh', 30: 'sathish'}

In [33]:
#start your imagination   make a dictionary with many ways
d1={'ramesh':20,'suresh':25,'sathish':30}
d2={20:'ramesh',25:'suresh',30:'sathish'}
d3={'nilesh':'balkhande'}
d4={'20':'ramesh','25':'suresh','30':'sathish'}
d5={'ramesh':10,'ramesh':30} # if both keys are same then it takes latest value
# dictionary kind database
d6={'ramesh':20,'ramesh':20}
# dictionary doesnt allowed duplicates
d7={'ramesh':20,'suresh':20}
# keys cant be dulpicate but value can be duplicate
d8={20:'ramesh',20:'suresh'}
d9={True:'true'}
d10={'fruites':['apples','banana']}
d11={['apples','banana']:'fruites'}
d12={'fruites':('apples','banana')}
d13={('apples','banana'):'fruites'}

{True: 'true'}

In [26]:
d5={'ramesh':10,'ramesh':30}# if both keys are same then it takes latest value
d5

{'ramesh': 30}

In [28]:
d6={'ramesh':20,'ramesh':20}
d6

{'ramesh': 20}

In [31]:
d7={'ramesh':20,'suresh':20}
d7

{'ramesh': 20, 'suresh': 20}

In [32]:
d8={20:'ramesh',20:'suresh'}
d8

{20: 'suresh'}

In [34]:
d9={True:'true'}
d9

{True: 'true'}

In [35]:
d10={'fruites':['apples','banana']}
d10

{'fruites': ['apples', 'banana']}

In [36]:
d11={['apples','banana']:'fruites'}

TypeError: unhashable type: 'list'

In [38]:
d12={'fruites':('apples','banana')}
d12

{'fruites': ('apples', 'banana')}

In [39]:
d13={('apples','banana'):'fruites'}
d13

{('apples', 'banana'): 'fruites'}

In [40]:
d10={'fruites':['apples','banana']} #works
d11={['apples','banana']:'fruites'} # not works
d12={'fruites':('apples','banana')} # works
d13={('apples','banana'):'fruites'} # works

TypeError: unhashable type: 'list'

**list as key fails beacuase list has a mutable behavoiur**

- if both keys are same then it takes latest value

-  dictionary doesnt allowed duplicates

-  keys cant be dulpicate but value can be duplicate

In [1]:
d14={'fruites':{'apples':20}} #works
d14

{'fruites': {'apples': 20}}

In [2]:
d15={{'apples':20}:'fruites'} # not works
d15

TypeError: unhashable type: 'dict'

In [3]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}

#apply min max summ sorted reversed

In [26]:
len(dict1)

3

In [6]:
print(max(dict1))
print(min(dict1))

cherry
apple

In [12]:
print(sum(dict1)) #because key is a string

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
print(sorted(dict1))

['apple', 'banana', 'cherry']

In [15]:
list(reversed(dict1))

['cherry', 'banana', 'apple']

In [24]:
dict2

{'apple': 30}

In [8]:
print(max(dict2))
print(min(dict2))

apple
apple

In [9]:
print(sum(dict2))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [16]:
print(sorted(dict2))

['apple']

In [17]:
list(reversed(dict2))

['apple']

In [10]:
print(max(dict3))
print(min(dict3))

50
20

In [11]:
print(sum(dict3))

100

In [18]:
print(sorted(dict3))

[20, 30, 50]

In [19]:
list(reversed(dict3))

[50, 30, 20]

In [27]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}

In [28]:
if 'apple' in dict1:
    print('y')

y

In [29]:
if 20 in dict1:
    print('y')

In [30]:
if 'apple':20 in dict1:
    print('y')

SyntaxError: invalid syntax (4007115636.py, line 1)

In [31]:
for i in dict1:
    print(i)

apple
banana
cherry

In [40]:
for i in range(len(dict1)):
    print(dict1[i])

KeyError: 0

**Index**

In [35]:
l1=[10,20,30]
l1[0]

10

In [36]:
str1='python'
str1[0]

'p'

In [43]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1[0]

TypeError: unhashable type: 'list'

**keyerror:**

**how to extract the value**

- in dictionary we have a concept key:value pair

- key are very important

- in order to get values we need to take keys hepls

In [44]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1['apple']

20

In [45]:
dict1['banana']

30

In [46]:
dict1['cherry']

50

In [48]:
for i in dict1:
    print(i,dict1[i])

apple 20
banana 30
cherry 50

In [52]:
# names=['ramesh','suresh','sathish']
# ages=[20,25,30]
dict1={'ramesh':20,'suresh':25,'sathish':30}
for i in dict1:
    print(f'{i} age is {dict1[i]}')

ramesh age is 20
suresh age is 25
sathish age is 30

In [54]:
d={'fruites':['apple','banana','cherry']}
d['fruites'][2]

'cherry'

In [58]:
d={'fruites':{'apple':['sweet','sour','green']}}
d['fruites']['apple'][2]

'green'

In [64]:
d={'fruites':[{'Cost':[50]}]}
d['fruites'][0]['Cost'][0]

50

In [76]:
d={'fruites':['apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}

d['Cost'][0]['1kg'][2]
#40 and None

40

In [73]:
d['Cost'][0]['2kg']

In [4]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

**how to create empty dictionary**

- Now onwards focus on creation of empty list,string and dictionary

- we will take empty list will use append opeartion

- we will take empty string will use concatenation

- we will empty dict will use key:value pair concept

In [88]:
#list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [90]:
#strings
s=''
s=s+'p' # ''+'p'
s=s+'y' # 'p'+'y'
s

'py'

In [93]:
# dictionary
d={}
d['ramesh']=20
d['suresh']=25
d['sathish']=30
d

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

### how to convert list to dictionary

In [94]:
names=['ramesh','suresh','sathish']
ages=[20,25,30]
dict1={}
for i,j in zip(names,ages):
    dict1[i]=j
dict1

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**dictionary comprehension**

- for list comprehension we ritten evrything inside list

- for dict comprehension we should write everything inside dictionary

In [97]:
#list comprehension : [<output> <for loop>]
#dict comprehension : {key:value <for loop>}

In [96]:
dict1={i:j for i,j in zip(names,ages)}
dict1

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**Mutable - immutable**

- lists are mutable

- dictionary are also mutable

- strings immutable

- tuple immutable

- in dictionary we can change the values using keys

In [101]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d['ramesh']=40

In [102]:
d

{'ramesh': 40, 'suresh': 25, 'sathish': 30}

In [103]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

- clear

- copy

- keys

- values

- items

In [1]:
d={'apple':20,'banana':30,'cherry':40}

In [2]:
d.clear()

In [3]:
d

{}

In [4]:
d={'apple':20,'banana':30,'cherry':40}
d

{'apple': 20, 'banana': 30, 'cherry': 40}

In [6]:
d1=d.copy()
d1

{'apple': 20, 'banana': 30, 'cherry': 40}

In [7]:
d={'apple':20,'banana':30,'cherry':40}
d.keys()

dict_keys(['apple', 'banana', 'cherry'])

In [11]:
for i in d.keys():
    print(i)

apple
banana
cherry

In [8]:
d.values()

dict_values([20, 30, 40])

In [12]:
for i in d.values():
    print(i)

20
30
40

In [9]:
d.items()

dict_items([('apple', 20), ('banana', 30), ('cherry', 40)])

In [10]:
for i,v in d.items():
    print(i,v)

apple 20
banana 30
cherry 40

**keys**

In [5]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
keys=d.keys()
keys

dict_keys(['ramesh', 'suresh', 'sathish'])

In [6]:
type(keys)

dict_keys

In [7]:
# i got mistaken im assuming this is list type
keys.count('ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**convert dictionary to list**

- in order to convert dictionary to list

- we need to separate key and values

- and then apply list type casting

In [9]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['ramesh', 'suresh', 'sathish']

In [16]:
keys_list.count('ramesh')

1

- for conversion

**list ====  string  using join**

**string ===  list   using split**

**list ===  dict   zip**

**dict === list    typecasting**

In [10]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
values=d.values()
values_list=list(values)
values_list

[20, 25, 30]

In [17]:
values_list.count(20)

1

In [15]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
items=d.items()
items_list=list(items)
items_list

[('ramesh', 20), ('suresh', 25), ('sathish', 30)]

In [19]:
items_list.count(('ramesh',20))

1

In [30]:
input1 = 'virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'

fname=[]
sname=[]
cname=[]
d={}
for i in input1.split(';'):
    f_i=i.index('.')
    s_i=i.index('@')
    c_i=i.index('.',f_i+1)

    fname.append(i[:f_i])
    sname.append(i[f_i+1:s_i])
    cname.append(i[s_i+1:c_i])

d['fname']=fname
d['sname']=sname
d['cname']=cname

d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

**pop,  popitem**

In [31]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.pop('suresh') # remove specific key

25

In [32]:
d

{'ramesh': 20, 'sathish': 30}

In [33]:
d.popitem() #remove last key,value of dict

('sathish', 30)

In [34]:
d

{'ramesh': 20}

In [40]:
l1=[10,20,30]
l1.remove(10)
l1.pop()
l1

[20]

- **pop** in dictionary similar analogy **remove** in list

- **popitem** in dictionary similar analogy **pop** in list

**get**

In [41]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.get('suresh')

25

In [44]:
d['ramesh'] # key as a index

20

**update**

In [48]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d1={'abhi':25,'nil':31,'sumit':26}

d.update(d1)

In [47]:
d

{'ramesh': 20, 'suresh': 25, 'sathish': 30, 'abhi': 25, 'nil': 31, 'sumit': 26}

- **update** is similar analogy list **extend**

- take two dictionary and apply update

In [49]:
l1=[10,20,30]
l2=[40,50,60]
l1.extend(l2)

In [50]:
l1

[10, 20, 30, 40, 50, 60]

**setdefault**

- suppose an already existed dictionary available

- we can update the dictionary with new key:value pair

In [51]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}

In [55]:
d.setdefault('manish')

In [56]:
d

{'ramesh': 20, 'suresh': 25, 'sathish': 30, 'manish': None}

In [57]:
d.setdefault('mahesh',27)

27

In [58]:
d

{'ramesh': 20, 'suresh': 25, 'sathish': 30, 'manish': None, 'mahesh': 27}

- setdefault in dictionary , similar analogy **list append**

- always remember dictionary is key:value pair concept

- it never involves index operations

- thats why we dont have any index or find methods

- we have get method to extract values using key

**fromkeys**

- create a dictionary with diffrent keys but same value

- fromkeys will take an argument **iterable**

- try to provide an iterator i.e string,list,tuple

In [59]:
d={}
names=['ramesh','suresh','sathish']
d.fromkeys(names)

{'ramesh': None, 'suresh': None, 'sathish': None}

In [60]:
d.fromkeys(names,'nareshit')

{'ramesh': 'nareshit', 'suresh': 'nareshit', 'sathish': 'nareshit'}

In [62]:
d={}
names=('ramesh','suresh','sathish')
d.fromkeys(names,'nareshit')

{'ramesh': 'nareshit', 'suresh': 'nareshit', 'sathish': 'nareshit'}

In [61]:
d={}
d.fromkeys('python','nareshit')

{'p': 'nareshit',
 'y': 'nareshit',
 't': 'nareshit',
 'h': 'nareshit',
 'o': 'nareshit',
 'n': 'nareshit'}

- **pop** in dictionary similar analogy **remove** in list

- **popitem** in dictionary similar analogy **pop** in list

- **update** is similar analogy list **extend**

- take two dictionary and apply update

- setdefault in dictionary , similar analogy **list append**

- **get** in dictionary , similr analogy **list index**

- list has count, string has count and tuple also has count

    - but dictionary does not have **count**

    - because dictionary deoes not allow duplicate
 
      
- strings has find but list does not have